
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

body{
  background-color:#fff;
  line-height:1.66em;
  padding:1em;
}

body, a {
  color:#383131;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans HK', sans-serif;
}

h2, h3, h4 {
  margin-top:2em;
}