.Nav {
    padding-right:2em;
    margin-right:2em;
    box-sizing: border-box;
    width:25%;
    font-size:.75em;
    position:fixed;
}

.Nav ul {
    list-style:none;
    padding: 0;
}

.Nav ul li button.active {
    text-decoration: underline;
}   

.Nav ul li a {
    text-decoration: none;
}

.Nav ul li a.external:hover::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f35d";
    display: inline-block;
    padding-right: 3px;
    padding-left:1em;
    vertical-align: top;
    font-weight: 900;
    font-size:1em;
}


.Nav ul li i {
    font-size:.75em;
    text-decoration: none;
}
