.Main .title {
    font-size:1.25em;
}

.Main .jobTitle {
    font-weight:700;
}

.Main > .socialLinks {
    font-weight:700;
}

.Main > .content {
    display:flex;
    flex-direction: row;
}

.Main .profile {
    position: fixed;
    top:0;
}

.Main .content {
    margin-top:100px;
}